@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}

nav{
    background-color:rosybrown;
    text-align: center;
    height: 80px;
  }
nav ul li {
    display: inline-block;
    list-style: none;
  }
nav ul li a{
    display: inline-block;
    padding: 25px 20px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }
.active{
    background-color: white;
}
h1{
    background-color: brown;
    text-align: center;
    height: 50px;
    padding: 10px;
    color: aliceblue;
}
main footer{
    background-color: transparent;
    height: 200px;
    width: 600px;
    border: solid;
    border-color: silver;
    margin: 10px auto;
    padding: 2px;
}
main footer aside{
    background-color: darkgray;
    height: 193px;
    width: 292px;
    border: solid;
    border-color: silver;
    margin: auto;
    display: inline-block;
    vertical-align: top;
}
.blanco{
    height: 165px;
    width: 280px;
    background-color: white;
    margin: 5px 0 0 5px;
    padding: 0.1px;
}
/* bandera colombia */

main footer aside section{
    background-color:rgb(255, 230, 0);
    height: 75px;
    width: 280px;
    margin: 5px 0 0 5px;
    
}
main footer aside div{
    background-color: blue;
    height: 45px;
    width: 280px;
    margin: 0px 0 0 5px;
    
}
main footer aside ul{
    background-color:red;
    height: 45px;
    width: 280px;
    margin: 0px 0 0 5px;
    
}
main footer aside h2{
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 18px;
  margin: auto;
}
/* bandera japon */
 main footer div li{
    background-color:rgb(197, 42, 42);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    list-style: none; 
    margin: 32px auto;
}
/* bandera españa */
main footer aside nav{
    background-color:rgb(212, 45, 45);
    height: 45px;
    width: 280px;
    margin: 5px 0 0 5px;
    
}
main footer aside ol{
    background-color: rgb(255, 230, 0);
    height: 75px;
    width: 280px;
    margin:0px 0 -5px 5px;
 }
 main footer aside ol img{
     width: 60px;
     height: 60px;
     margin: 10px 0 0 45px;
 }
 /* bandera Mexico */

 main footer aside article{
     background-color: darkgreen;
    width: 93px;
    height: 165px;
   
    display:inline-block;
}

main footer aside h5{
    background-color: red;
   width: 93px;
   height: 165px;

   display:inline-block;
}
main footer aside img{
    width: 80px;
    height: 80px;
    margin: 0 3px 40px 3px;
    display:inline-block;
}
/* bandera corea */
.Corea_r{
    background-color: red;
    width: 280px;
    height: 99px;
    margin: 3px 0px ;

}
.Corea_a{
    background-color:blue;
    width: 280px;
    height: 30px;

}
.Corea_r>article{
    background-color:white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 5px 0 0px 45px;  
}
.Corea_r>article>img{
    width: 80px;
    height: 80px;
    margin: 0 0 0 5px;
}
/* bandera canada */
.canada_r{
    background-color: red;
    width: 60px;
    height: 165px;

    display:inline-block; 
}
.Canada{
    width: 120px;
    height: 150px;
    margin: 0 15px 5px 17px;
}
