@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}

nav{
    background-color:rosybrown;
    text-align: center;
    height: 80px;
  }
nav ul li {
    display: inline-block;
    list-style: none;
  }
nav ul li a{
    display: inline-block;
    padding: 25px 20px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }
.active{
    background-color: white;
}
h1{
    background-color: brown;
    text-align: center;
    height: 50px;
    padding: 10px;
    color: aliceblue;
}
main footer{
    background-color: transparent;
    height: 200px;
    width: 600px;
    border: solid;
    border-color: silver;
    margin: 10px auto;
    padding: 2px;
}
main footer aside{
    background-color: transparent;
    height: 193px;
    width: 292px;
    border: solid;
    border-color: silver;
    margin: auto;
    display: inline-block;
}