@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}

nav{
    background-color:rosybrown;
    text-align: center;
    height: 80px;
  }
nav ul li {
    display: inline-block;
    list-style: none;
  }
nav ul li a{ 
    display: inline-block;
    padding: 25px 20px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }
.active{
    background-color: white;
}
h1{
    background-color: brown;
    text-align: center;
    height: 50px;
    padding: 10px;
    color: aliceblue;
}
main div{
    background-color: transparent;
    height: 200px;
    width: 600px;
    border: solid;
    border-color: silver;
    margin: 10px auto;
    padding: 2px;
}
main div aside{
    background-color: darkgray;
    height: 193px;
    width: 292px;
    border: solid;
    border-color: silver;
    margin: auto;
    display: inline-block;
    vertical-align: top;
}
/*Bandera de Argentina*/
main div aside p{
    background-color: cornflowerblue;
    height: 55px;
    width: 280px;
    margin: 5px 0px 0px 5px;
}
main div aside ol{
    background-color: white;
    height: 55px;
    width: 280px;
    margin: 0px 5px -5px 5px;
    display: inline-block;
}
main div aside footer{
    background-color: cornflowerblue;
    height: 55px;
    width: 280px;
    margin: 0px 0px 0px 5px;
}
main div aside ol img{
    height: 50px;
    margin: 1px 0px 0px 114px;
}
main h2{
    text-align: center;
    font-size: 18px;
}
/*Bandera de Egipto*/
main div aside h3{
    background-color: rgb(206, 8, 8);
    height: 55px;
    width: 280px;
    margin: 5px 0px 0px 5px;
}
main div aside h4{
    background-color: white;
    height: 55px;
    width: 280px;
    margin: 0px 0px 0px 5px;
}
main div aside h5{
    background-color: black;
    height: 55px;
    width: 280px;
    margin: 0px 0px 0px 5px;
}
main div aside h4 img{
    height: 52px;
    margin: 2px 0px 0px 120px;
}
/*Bandera de Rusia*/
main div aside h6{
    background-color: white;
    height: 55px;
    width: 280px;
    margin: 5px 0px 0px 5px;
}
main div aside h1{
    background-color: rgb(9, 9, 133);
    height: 35px;
    width: 260px;
    margin: 0px 0px 0px 5px;
}
main div aside section{
    background-color: rgb(206, 8, 8);
    height: 55px;
    width: 280px;
    margin: 0px 0px 0px 5px;
}
/*Bandera de Finlandia*/
main div aside ul{
    background-color: midnightblue;
    height: 57.5px;
    width: 50px;
    margin: 5px 0px 0px 80px;
}
main div aside article{
    background-color: midnightblue;
    height: 50px;
    width: 280px;
}
main div aside nav{
    background-color: midnightblue;
    height: 57.5px;
    width: 50px;
    margin: 0px 0px 0px 80px;
}
/*Bandera de Panamá*/
main div aside li{
    background-color: white;
    height: 165px;
    width: 280px;
    margin: 5px;
    list-style: none;
}
main div aside li footer{
    background-color: rgb(206, 8, 8);
    height: 80px;
    width: 140px;
    margin: 0px 0px 0px 40px;
    display: inline-block;
    padding: 5px 0px 0px 0px;
}
main div aside li>ol{
    background-color: rgb(9, 9, 133);
    height: 80px;
    width: 140px;
    margin: -3.8px 0px 0px 0px;
    display: inline-block;
}
main div aside li img{
    height: 50px;
    margin: 0px 0px 16px 45.8px;
}
/*Bandera de Costa Rica*/
.CRica_r{
    background-color: rgb(206, 8, 8);
    width: 280px;
    height: 55px;
    margin: 20.5px 0 19.5px 0px;
    padding: 1px 0px 0px 0px;

}
.CRica_a{
    background-color: darkblue;
    width: 280px;
    height: 27.5px;
    margin: 0px 0 0px 0px
}
.CRica_r>article{
    background-color:white;
    width: 40px;
    height: 51px;
    border-radius: 70%;
    margin: 2px 0 2px 35px;  
}
.CRica_r>article>img{
    width: 39px;
    height: 50px;
    margin: auto;
    
}
